.navigacija {
    background: rgba(0, 0, 0, 0.44);
    width: 369px;
    max-height: 98px;
    border-radius: 40px;

    display: flex;
    align-items: center;
    padding: 19px 21px 19px 21px;
    justify-content: space-between;
}


.btn {
    width: 60px;
    height: 60px;
    border-radius: 14px;

}