.razina-simplifikacije {
    display: flex;
    align-items: center;
    justify-content: center;
}

.razina-simplifikacije>.dropdown-select {
    background-color: rgba(0, 0, 0, 0.44);
    color: white;
    font-size: 17px;
    max-width: 500px;
    width: 90dvw;
    border-radius: 24px;
    border: none;
    padding: 19px 29px 19px 29px;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.dropdown-select>option {
    background-color: white;
    color: black;
}