.ulazni-tekst {
    background-color: rgba(0, 0, 0, 0.44);
    border-radius: 24px;
    color: white;
    max-width: 500px;
    width: 90vw;
    height: 30dvh;
    padding: 19px 29px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ulaz-header {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    /* margin-bottom: 20px; */
}

.ulaz-header>textarea {
    width: 100%;
    /* padding: 10px; */
    /* border-radius: 10px; */
    resize: none;
    /* height: 300px; */
    font-size: 16px;
    color: white;
    background-color: #00000000;
    box-sizing: border-box;
    /* margin-right: 10px; */
    font-family: 'Inter';
    border: none;
    overflow: auto;
    outline: none;
}

textarea::placeholder {
    color: white;
    font-family: 'Inter';
}

textarea:focus {
    border: none;
}

.zatvori-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.ulaz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.diktat-btn {
    background: #ff9500;
    border: none;
    border-radius: 50%;
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.diktat-btn:hover {
    fill: #ff9500;
    background-color: white;
    transition: 0.3s;

}

.diktat-btn:not(:hover) {
    color: white;
    background-color: #ff9500;
    transition: 0.3s;

}

.simplificiraj-btn {
    width: 156px;
    height: 47px;
    border: none;
    border-radius: 14px;
    color: white;
    background-color: #007aff;
    font-size: 17px;
    cursor: pointer;
}

.simplificiraj-btn:hover {
    color: #007aff;
    background-color: white;
    transition: 0.3s;

}

.simplificiraj-btn:not(:hover) {
    color: white;
    background-color: #007aff;
    transition: 0.3s;

}